@inherits LayoutComponentBase

<div class="app-layout-minimal">
    @Body
</div>

<div id="blazor-error-ui">
    Произошла ошибка.
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
