<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishDir>bin\publish-linux-x64</PublishDir>
    <PublishUrl>bin\publish-linux-x64</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
</Project>
